<%- include('../partials/header') %>
<br><br><h2>Tickets</h2>
  <form id="add-ticket-form" method="POST"
    action="/flights/<%=flight._id%>">
    <label>Seat: </label>
    <input type="text" name="seat" required pattern="[A-F][1-9]\d?">
    <label>Price: </label>
    <input type="number" name="price">
    <input type="submit" value="Add Ticket">
  </form>
<%- include('../partials/footer') %>